body, html {
    height: 100%;
    background: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.cuadro{
	max-width: 600px;
	border-radius:7px ;
	background-color: rgba(0,0,0,0.6);
	padding: 10px 20px;
	box-sizing: border-box;

}


input{
	background: #DB3030;
	border: none;
	color: #fff;
	border-radius:4px ;
	padding: 10px 30px;
	box-sizing: border-box;

}

#boton:hover {
		cursor: pointer;
	} 
@media 